body{
  font-family: 'Calibri', sans-serif;
}
html {
  scroll-padding-top: 67px;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.content-section {
  position: relative;
  padding: 5rem 0;
  overflow: hidden;
}


.whatsapp-button {
  background-color: #23be5c;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.whatsapp-button:hover {
  background-color: #1c8542;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.overlay-image {
  position: absolute;
  width: 22.375rem;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-160%, -60%);
  z-index: 1;
}

header.masthead {
  height: 90%;
  position: relative;
  overflow: hidden;
  padding-top: 0;
  margin-top: 88px;
  width: 100%;
  padding-bottom: 7rem;
  background-image: url('/assets/img/escritorio.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
  text-align: justify;
  transform: translate(10%, -30%);
}

.modal.fade-custom {
  display: none;
  position: fixed;
  z-index: 1055;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-dialog {
  margin: 10% auto;
  max-width: 600px;
}

.modal-content {
  background-color: #fff;
  border-radius: 0.5rem;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #aaa;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}

.content-section:nth-of-type(2) {
  color: white;
  text-align: center;
}

.content-section:nth-of-type(3), .content-section:nth-of-type(1) {
  text-align: center;
}


.social-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 600px;
  margin: auto;
}

.social-btn {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: #000080;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

.social-btn i {
  font-size: 1.5rem;
  margin-right: 0.8rem;
}

.social-btn span {
  line-height: 1.2;
}

.social-btn strong {
  display: block;
  font-size: 1rem;
}

/* Estilos específicos por red */
.facebook { background-color: #3b5998; }
.instagram {
  background: linear-gradient(45deg, #feda75, #d62976, #962fbf, #4f5bd5);
}
.tiktok { background-color: #010101; }
.youtube { background-color: #ff0000; }
.threads { background-color: #000; }
.twitter { background-color: #1DA1F2; }

.social-btn:hover {
  background-color: #3333cc;
  transform: translateY(-3px);
}

@media (max-width: 767.98px) {

  .navbar-custom{
    height: 88px;
  }
  
  .social-buttons{
    transform: translateX(-21%);
  }

  .overlay-image {
    position: static;
    transform: none;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 4rem;
    margin-top: 1rem;
  }
 
  .masthead-subheading {
    transform: none;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 0;
  }
}


@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }

  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }

  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}